############
## CodeWarrior
############

*.lib
*.lst
*.o
*.tdt
*.abs

############
## Monitor
############

*buffer.txt

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
