############
## CodeWarrior
############

*.lib
*.lst
*.o
*.tdt
*.abs
*.s19
*.map

############
## Monitor
############

*buffer.txt
*log.txt
*mtee.exe
*.txt

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
